# IntelliJ IDEA
.idea/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# Compiled files
*.class

# Logs
*.log
log/
log/*
*.log.*

# Package Files #
*.jar
*.war
*.ear

# IntelliJ-specific files #
*.iml
*.ipr
*.iws
out/
.idea_modules/

# Mac specific
.DS_Store